*{
	box-sizing: border-box; 
}

body, html{
	min-height: 100%;
	margin: 0;
 	background-color: #ffcf1a;  
	font-family: Futura; 
	font-size: 100%; 
}

header{
	margin-top: -50px; 
	min-height: 0px; 
	max-height: 250px;
	background:black;
	text-align: center;

}


h1{
	font-family: Futura; 
	color: #ffcf1a;
	font-size: 3em; 
	padding-top: 70px; 
	margin-left: 30px; 

} 
footer{
	position: fixed; 
	background-color: black; 
	width: 100%; 
	bottom: 0; 
	left: 0; 
	color: #ffcf1a; 
	text-align: right; 
	padding-right: 30px; 

}
.grid-parent{
	display: grid; 
	grid-template columns: 200px 200px;
}
.logo img{
	margin-top: -200px; 
	margin-left: -570px; 
	height: 300px; 
	width: 350px; 

} 

.article__img{
	max-width: 100%; 
	height: auto; 
	position: relative;   

}

.article{
	position: relative; 
	margin-top: -20px; 
	padding-bottom: 50px; 
}
.article__movie{
	grid-column: 1;
	background: #696969;
}

.article__music{
	grid-column: 2; 
	background: #696969;
}

.article p{
	margin-left: 20px; 
	color: white; 
}

.article h2{
	margin-top: 30px; 
	margin-left: 20px; 
	color:#ffcf1a;  
}
.article__music h2{
	margin-top: 35px; 
}
a:hover{
	text-decoration: underline;

}
a{
	text-decoration: none; 
	color: #ffcf1a;
}

@media screen and (max-width: 780px){
	body, html{
		background-color: #696969; 
	}
	h1{
	margin-left: 150px; 

	}
	header{
		font-size: 120%; 
		margin-left: -150px; 

	}
	.grid-parent{
		grid-template-columns: 600px 600px;  
	}
	.logo img{
	margin-left: -800px; 
	height: 200px; 
	width: 150px; 
	}

	.article__movie{
		margin-top: 1px; 
	max-width: 70%; 
	grid-column: 1;
	background: #696969; 
	}

	.article__movie h2{
		display: flex;
		width: 65%; 
		margin-left: 450px; 
		margin-top: -300px; 

	}

	.article__movie p{
		display: flex; 
		width: 65%; 
		margin-left: 450px; 
	}


	.article__music h2 {
		display: flex; 
		width: 65%; 
		margin-top: -325px; 
		margin-left: 450px;

	}

	.article__music p{
		display: flex; 
		width: 65%;
		margin-left: 450px;  
	}


	.article__music{
	margin-top: 0px; 
	max-width: 70%; 
	grid-column: 1;
	background: #696969; 
	}

@media screen and (max-width: 717px){
	body, html{
		background-color: #696969; 
	}
	h1{
	margin-left: 150px; 

	}
	header{
		font-size: 120%; 
		margin-left: -150px; 

	}
	.grid-parent{
		grid-template-columns: 600px 600px;  
	}
	.logo img{
	margin-left: -800px; 
	height: 200px; 
	width: 150px; 
	}
	.article{
	margin-top: 0px; 
	}

	.article__movie{
	max-width: 60%; 
	grid-column: 1;
	background: #696969; 
	}

	.article__movie h2{
		display: flex;
		width: 80%; 
		margin-left: 380px; 
		margin-top: -250px; 

	}

	.article__movie p{
		display: flex; 
		width: 80%; 
		margin-left: 380px; 
	}


	.article__music h2 {
		display: flex; 
		width: 80%; 
		margin-top: -255px; 
		margin-left: 380px;

	}

	.article__music p{
		display: flex; 
		width: 80%;
		margin-left: 380px;  
	}


	.article__music{
	margin-top: -5px; 
	max-width: 60%; 
	grid-column: 1;
	background: #696969; 
	}

@media screen and (max-width: 670px){
	body, html{
		background-color: #696969; 
	}
	h1{
	margin-left: 150px; 

	}
	header{
		font-size: 130%; 

	}
	.grid-parent{
		grid-template-columns: 680px;  
	}
	.logo img{
	margin-left: -800px; 
	height: 200px; 
	width: 150px; 
	}
	.article{
	margin-top: -1px; 
	}

	.article__movie{
	max-width: 100%; 
	grid-column: 1;
	background: #696969; 
	}

	.article__movie h2{
		margin-left: 5px; 
		margin-top: 10px; 
		width: 80%; 

	}

	.article__movie p{
		display: flex; 
		width: 80%; 
	  margin-top: 0px; 
		margin-left: 5px; 
		margin-bottom: 20px; 
	}

	.article__music{
		max-width: 100%; 
		margin-top: -10px; 

	}
	.article__music h2 {
		display: flex; 
		width: 80%; 
		margin-left: 5px;
		margin-top: 10px; 

	}

	.article__music p{
		display: flex; 
		width: 80%;
		margin-left: 5px;  
		margin-top: 5px; 
		margin-bottom: 35px; 

	}

